$primary-color: black;
$secondary-color: grey;
$accent-color: #39ff14;

body {
    max-width: 80%;
    background-color: $primary-color;
}

header, footer {
    background-color: $secondary-color;
    height: 3em;
}

h1 {
    display: block;
    margin: auto;
}

#view-cart {
    display: block;
    text-align: right;
}

section {
    display: flex;
    flex-flow: row wrap;
}

.item {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 30%;
    padding: 1em;
    border: #39ff14 solid;
    border-radius: 10px;
    color: white;
}

footer p {
    text-align: center;
}

img {
    transform: rotate(90deg);
    width: 80%;
}