body {
    max-width: 90%;
    margin: auto;
}

header {
    background-image: url("../images/header.jpg");
    height: 20em;
    color: white;
    text-align: center;
}

.group {
    width: 45%;
    border: 2px solid grey;
    margin: 1.1%;
    padding: 1em;
}

.allGroups {
    display: flex;
    flex-flow: row wrap;
}

.button {
    background-color: black;
    color: white;
}

footer {
    background-color: grey;

    p {
        text-align: center;
        color: white;
        padding: 3em;
    }
}

.user {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.add, .user div {
    padding: 2em;
    width: 45%;

    br {
        padding-bottom: 1em;
    }
}