$top-bottom-color: black;
$body-color: darkslategray;

body {
    max-width: 70%;
    background-color: $body-color;
    margin: auto;
}

header, footer{
    background-color:$top-bottom-color;
    height: 10em;
    color: $body-color;
    font-size: 3em;
}

nav {

    ul {
        display: flex;
        flex-flow: row;
        padding: 2em;


        li {
            list-style-type: none;
            padding-right: 5em;
            color: $body-color;
            font-size: 1.5em;
        }
    }
}

h1, p {
    text-align: center;
}

img {
    align-content: center;
    width: 60%;
}

.copyright {
    padding: 2em;
}

