$top-bottom-color: black;
$body-color: darkslategray;

body {
    max-width: 70%;
    background-color: $body-color;
}

header, footer{
    background-color:$top-bottom-color;
}

nav {

    ul {
        display: flex;
        flex-flow: row;


        li {
            list-style-type: none;
            padding-right: 5em;
            color: $body-color;
        }
    }
}

h1, p, img {
    margin: auto;
}

